<footer class="footer bg-footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner padding-bottom-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-widget footer-contact">
                            <h3><a href="/" class="logo-wrapper" title="Kicap"><img src="/img/logo.png" alt="Ki-Bo" class="img-responsive center-block"/></a></h3>
                            HỘ KINH DOANH KICAP
                            <ul class="list-menu">
                                <li>
                                    <i class="fa fa-certificate" aria-hidden="true"></i>Node JS Ki-Bo Project</li>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>12 Trịnh Đình Thảo, Phường Hòa Thạnh, Quận Tân Phú, Thành phố Hồ Chí Minh
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i><a href="" title="0123456789">0123456789</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i><a href="" title="itc@gmail.com">itc@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-widget had-click">
                            <h3>
                                Chính sách khách hàng <span class="Collapsible__Plus"></span>
                            </h3>
                            <ul class="list-menu has-click">
                                <li>
                                    <a href="" title="Chính sách bảo hành" rel="nofollow">Chính sách bảo hành</a>
                                </li>
                                <li>
                                    <a href="" title="Chính sách kiểm hàng" rel="nofollow">Chính sách kiểm hàng</a>
                                </li>
                                <li>
                                    <a href="" title="Chính sách đổi trả hàng hoàn tiền" rel="nofollow">Chính sách đổi trả hàng hoàn tiền</a>
                                </li>
                                <li>
                                    <a href="" title="Chính sách thanh toán" rel="nofollow">Chính sách thanh toán</a>
                                </li>
                                <li>
                                    <a href="" title="Chính sách bảo mật" rel="nofollow">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="" title="Chính sách vận chuyển" rel="nofollow">Chính sách vận chuyển</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-widget footer-subcrible">
                            <h3>Đăng ký nhận tin</h3>
                            <p>Mua bàn phím cơ, keycap bộ, keycap lẻ, keycap resin. Bảo hành chính hãng. Ưu đãi khi mua online. Dịch vụ mods phím cơ uy tín, chất lượng.</p>
                            <form action="//facebook.us7.list-manage.com/subscribe/post?u=97ba6d3ba28239250923925a8&id=4ef3a755a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                <input type="email" class="form-control" value="" placeholder="Email của bạn" name="EMAIL" id="mail">
                                <button class="evo-button btn btn-default" name="subscribe" id="subscribe" type="submit">Đăng ký</button>
                            </form>
                            <div class="footer-payment">
                                <ul class="list-menu clearfix">
                                    <li class="item">
                                        <img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/payment_1.svg?1717566580321" alt="Kicap"/>
                                    </li>
                                    <li class="item">
                                        <img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/payment_2.svg?1717566580321" alt="Kicap"/>
                                    </li>
                                    <li class="item">
                                        <img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/payment_3.svg?1717566580321" alt="Kicap"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-widget had-click">
                            <h3>
                                Liên kết mạng xã hội <span class="Collapsible__Plus"></span>
                            </h3>
                            <ul class="social-desktop">
                                <li class="fb">
                                    <a href="https://www.facebook.com/Kicap.vn" rel="noreferrer" target="_blank" aria-label="Facebook" title="Facebook">
                                        <img width="40" height="40" class="lazy" src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/facebook1_-1.png?1717566580321" alt="Kênh Facebook liên hệ khách hàng - HAPA.vn" style="max-width:40px">
                                    </a>
                                </li>
                                <li class="yt">
                                    <a href="https://www.youtube.com/@kicap" rel="noreferrer" target="_blank" aria-label="Youtube" title="Youtube">
                                        <img width="40" height="40" class="lazy" src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/youtube1_-1.png?1717566580321" alt="Kênh Youtube liên hệ khách hàng - HAPA.vn" style="max-width:40px">
                                    </a>
                                </li>
                                <li class="shopee">
                                    <a href="https://shope.ee/4ATH5WaKmG" rel="noreferrer" target="_blank" aria-label="Shopee" title="Shopee">
                                        <img width="40" height="40" class="lazy" src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/shopee1.png?1717566580321" alt="Shop Điện máy HAPA trên sàn TMĐT Shopee" style="max-width:40px">
                                    </a>
                                </li>
                            </ul>
                            <a href='http://online.gov.vn/Home/WebDetails/111771' target="_blank" aria-label="Bộ Công Thương" title="Bộ Công Thương">
                                <img width="170" height="40" class="lazy" alt="Bộ Công Thương" title="Bộ Công Thương" src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/logosalenoti.png?1717566580321"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span>© Nhóm Ki-Bo | Ki-Bo Project | Wibu Never Die</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/script/main.js"></script>
</body>
</html>
