<%- include('./includes/header') %>
    <%- include('./includes/nav') %>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="page-404 text-center margin-bottom-30 margin-top-20 padding-top-40 padding-bottom-40">
                            <div class="image-404">
                                <img class="img-responsive center-block" src="/img/404.webp" alt="404">
                            </div>
                            <h1>Lỗi không tìm thấy trang</h1>
                            <div class="mt-5">
                                <a href="/" class="btn btn-success" title="Về trang chủ">
                                    <i class="ion ion-md-home"></i>Về trang chủ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./includes/footer') %>