<aside class="evo-sidebar sidebar left-content col-md-3 col-md-pull-9">
    <script src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/search_filter.js?1717566580321"
        type="text/javascript"></script>
    <div class="aside-filter clearfix">
        <div class="aside-hidden-mobile">
            <div class="filter-container">
                <div class="clearfix"></div>
                <aside class="aside-item filter-tag-style-1 tag-filtster">
                    <div class="aside-title">Tags</div>
                    <div class="aside-content filter-group">
                        <ul id="tagFilters">
                        </ul>
                    </div>
                </aside>

                <aside class="aside-item filter-price">
                    <div class="aside-title">Giá sản phẩm</div>
                    <div class="aside-content filter-group">
                        <ul id="priceFilters">
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</aside>
<div id="open-filters" class="open-filters hidden-lg hidden-md">
    <i class="fa fa-filter" aria-hidden="true"></i>
</div>
</div>
</div>

<script>
    const products = JSON.parse('<%- JSON.stringify(product) %>');
    const productType = '<%= productType %>';
    const tagSort = JSON.parse('<%- JSON.stringify(sortList) %>');


    function loadProductList() {
        const productList = document.getElementById('product-container');
        productList.innerHTML = '';
        const row = document.createElement('div');
        row.classList.add('row');
        products.forEach(product => {
            if (productType === product.isclass) {
                const productItem = document.createElement('div');
                productItem.classList.add('col-xs-6', 'col-sm-4', 'col-md-4', 'col-lg-4');
                productItem.classList.add('product-item');
                productItem.innerHTML = `
                <div class="product-card">
                    <a class="product-url" href="${product.url}" title="${product.title}"></a>
                    <div class="product-card__inner">
                        <div class="product-card__image">
                            <picture>
                                <img src="${product.image_front}"
                                    class="product-card-image-front img-responsive center-block"
                                    alt="${product.title}" />
                            </picture>
                            <picture>
                                <img src="${product.image_back}"
                                    class="product-card-image-back img-responsive center-block"
                                    alt="${product.title}" />
                            </picture>
                        </div>
                        <h4 class="product-single__series">
                            ${product.series}
                        </h4>
                        <h3 class="product-card__title">
                            ${product.title}
                        </h3>
                        <div class="product-price">
                            <strong>
                                ${formatPrice(product.price)}
                            </strong>
                        </div>
                    </div>
                    <form action="/cart/add" method="post" enctype="multipart/form-data"
                        class="hidden-md variants form-nut-grid form-ajaxtocart"
                        data-id="product-actions-35855176">
                        <div class="product-card__actions">
                            <a class="button ajax_addtocart add_to_cart" href="${product.url}">Thêm vào giỏ hàng</a>
                        </div>
                    </form>
                </div>
            `;
                row.appendChild(productItem);
            }
        });
        productList.appendChild(row);
    }

    function loadTagSort() {
        const tagFiltersContainer = document.getElementById('tagFilters');
        const priceFiltersContainer = document.getElementById('priceFilters');
        tagFiltersContainer.innerHTML = '';
        tagSort.Tags.forEach(tag => {
            const li = document.createElement('li');
            li.className = 'filter-item filter-item--check-box filter-item--green';
            li.innerHTML = `
                    <span>
                        <label for="${tag.id}">
                            <input type="checkbox" id="${tag.id}" onchange="toggleFilter(this)"
                                data-group="tag2" data-field="tags" data-text="${tag.value}" value="(${tag.value})"
                                data-operator="OR">
                            <i class="fa"></i>
                            ${tag.label}
                        </label>
                    </span>
                `;
            tagFiltersContainer.appendChild(li);
        });

        tagSort.priceRanges.forEach(price => {
            const li = document.createElement('li');
            li.className = 'filter-item filter-item--check-box filter-item--green';
            li.innerHTML = `
                    <span>
                        <label for="${price.id}">
                            <input type="checkbox" id="${price.id}" onchange="toggleFilter(this)"
                                data-group="Khoảng giá" data-field="price_min" data-text="${price.label}"
                                value="(${price.value})" data-operator="OR">
                            <i class="fa"></i>
                            ${price.label}
                        </label>
                    </span>
                `;
            priceFiltersContainer.appendChild(li);
        });
    }

    function formatPrice(price) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
    }
    function sortby(sort) {
        if (sort === 'name-asc') {
            products.sort((a, b) => a.title.localeCompare(b.title));
        }
        if (sort === 'name-desc') {
            products.sort((a, b) => b.title.localeCompare(a.title));
        }
        if (sort === 'price-asc') {
            products.sort((a, b) => parseFloat(a.price) - parseFloat(b.price));
        }
        if (sort === 'price-desc') {
            products.sort((a, b) => parseFloat(b.price) - parseFloat(a.price));
        }
        loadProductList();
    }
    
    loadProductList();
    loadTagSort();
</script>


<%- include('../includes/footer') %>