<%- include('./hea') %>
<section class="products-view products-view-grid row">
    <div id="product-container"></div>
    <div class="clearfix"></div>
</section>
</div>
</section>
<%- include('./end') %>